.main-div {
	margin-top: 1%;
	margin-left: 9%;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.input-container > * {
	width: 60%;
}

.button-cancel {
	margin: 2px;
	background-color: rgb(107, 107, 107);
	color: white;
}

.checkout-button {
	margin: 2px;
	background-color: rgb(179, 3, 3);
	color: white;
}
