<app-main-nav></app-main-nav>
<div class="main-div">
	<div *ngFor="let vaga of vagas">
		<mat-card class="main-card">
			<mat-card-header>
				<div *ngIf="vaga.estaOcupado === true" class="background-ocuped"></div>
				<div *ngIf="vaga.estaOcupado === false" class="background-empty"></div>
				<mat-card-title>Vaga: {{vaga.id}}</mat-card-title>
				<mat-card-subtitle>Modelo: {{vaga.veiculo.modelo}}</mat-card-subtitle>
				<mat-card-subtitle>Dono: {{vaga.veiculo.nomeDono}}</mat-card-subtitle>
			</mat-card-header>

			<button class="button-edit" mat-raised-button color="primary">Editar</button>
			<button class="button-checkout" mat-raised-button>Checkout</button>
		</mat-card>
	</div>
</div>
