.main-div {
	margin: 2%;
}

.main-card {
	width: 17%;
	max-width: 25%;
	float: left;
	margin: 1%;
}

.background-ocuped {
	background: rgba(255, 0, 0, 0.63);
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.background-empty {
	background: rgba(38, 255, 0, 0.493);
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.button-edit {
	margin: 2%;
}

.button-checkout {
	margin: 2px;
	background-color: rgb(179, 3, 3);
	color: white;
}

