.main-div {
	margin: 2%;
}

.example-card {
	width: 17%;
	max-width: 25%;
	float: left;
	margin: 1%;
}

.background-style {
	background: rgba(255, 0, 0, 0.63);
	width: 95%;
	height: 60px;
}

.button-style {
	margin: 2%;
}

